.container-box {
  position: relative;
}
.container-box .arrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
.arrow-left {
  background: #000;
  left: 0;
}
.container-box .arrow.arrow-right {
  right: 0;
}
